@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


body {
  background-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
.main-nav{
  /* background-color: crimson; */
  /* position: fixed; */
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.main-nav .logo-link {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.main-nav .logo-link span{
  color: crimson;
}
.main-nav .nav-list li a{
  color: #fff;
}
.main-nav.sticky{
  padding: 30px 0;
  color: crimson;
}
.main-header {
  background: url(assets/images/demo6.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-family: 'Ubuntu',sans-serif;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
 .header-nav .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
} 
.nav-list {
  list-style-type: none;
  display: flex;
}
.logo {
  font-weight: bolder;
  color: #febc1d;
  font-size: 35px;
}
.nav-link {
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  transition: color 0.3s;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.nav-link:hover {
  color: #ccc;
}
.nav-item {
  margin-left: 50px;
  list-style: none;
  transition: color 0.3s ease;
  display: inline-block;
}
.nav-list .nav-item a:hover{
  color: crimson;
}
.main-heading {
  font-weight: normal;
  color: white;
  font-size: 75px;
}
.main-heading-focus {
  color:crimson;
  font-weight: bold;
  font-size: 60px;
}
.sub-heading {
  text-align: right;
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
}
.hero-cta {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 40px;
  background: #febc1d;
  display: inline-block;
  margin-top: 30px;
}
.main-container {
  margin-top: 30px;
  font-family: 'Poppins',sans-serif;
}
.card-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
  height: auto;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.card-img-container {
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card-img {
  height: 90%;
  transition: 0.5s ease-out;
}
.card-container{
  background-color: #111;
}
.card-title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color:crimson;
}
.card-span {
  font-weight: normal;
  display: block;
}
.card-info {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: 0.5s ease-out;
}
.card-info-list {
  margin: auto;
}
.card-info-item {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 35px;
  margin-right: 35px;
}
.card-img-container:hover > .card-info {
  top: 0;
}
.card-img-container:hover > .card-img {
  transform: scale(1.5);
}
.card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
}
.main-card-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.banner-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px -1px 15px 3px rgba(0, 0, 0, 0.75);
}
.banner-content-container {
  text-align: right;
}
.banner-content {
  padding: 0 50px;
}
.banner-img {
  height: 100%;
}
.banner-title {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: left;
}
.banner-desc {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: left;
}
.banner-cta {
  display: inline-block;
  background: #333;
  padding: 20px 30px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}
.banner-cta:hover {
  background: #575656;
}
.contact-container {
  height: 540px;
  background: url(assets/images/main-banner.jpg);
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-info-container,
.contact-form-container {
  flex-basis: 40%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}
.contact-form,
.contact-info {
  margin: auto;
}
.contact-info {
  color: white;
}
td {
  vertical-align: top;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
#test{
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-input-container {
  width: 90%;
  text-align: center;
}
.input,
.msg-input {
  width: 60%;
  margin-bottom: 10px;
  background: rgba(96, 97, 95, 0.35);
}
.input {
  height: 40px;
  border: none;
  color: white;
  font-size: 16px;
}
.input:focus,
textarea:focus {
  outline: none;
  background: rgba(96, 97, 95, 0.6);
}
textarea {
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}
input[type="email"],
input[type="text"] {
  padding-left: 10px;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:hover {
  background: rgba(96, 97, 95, 0.6);
}
.testimonial-container {
  height: 300px;
  background: white;
  margin-top: 30px;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}
.testimonials {
  margin: auto;
  width: 80%;
  background-color: white;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.user-message{
  color: crimson;
  font-style: italic;
}
#user-1 {
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
#user-2 {
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transition: 0.3s;
}
#user-3 {
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
  transition: 0.3s;
}
#user-4 {
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 200%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.user-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-img-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img {
  height: 100%;
  width: 100%;
  
}
.user-info {
  width: auto;
  /* color: white; */
  padding: 14px;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.btn {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
}
.slide-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bg {
  background: black;
}
.no-bg {
  background: transparent;
}
.footer {
  background:white;
  font-family: "Poppins",sans-serif;
  /* margin-top: 30px; */
}
.news-letter {
  text-align: center;
  padding: 20px;
}
.news-letter-title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
#news-letter-email {
  width: 350px;
  height: 40px;
  border: none;
  font-size: 16px;
  color: white;
  background: rgba(96, 97, 95, 0.5);
}
#news-letter-email:focus {
  outline: none;
  background: rgba(96, 97, 95, 0.8);
}
#news-letter-submit {
  width: 150px;
  height: 40px;
  border: none;
  background: rgba(96, 97, 95, 0.5);
  font-size: 16px;
  color: #ccc;
}
/* .footer{
  background-color: white;
} */
.footer-border {
  height: 3px;
  background: white;
  width: 80%;
  margin: 0 auto;
}
.footer-content-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.footer-content {
  flex-basis: 80%;
  text-align-last: center;
}
.footer-logo,
.footer-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #febc1d;
  display: inline-block;
  margin-bottom: 10px;
}
.company-desc {
  color: black;
  font-weight: 700;
}
.footer-contact-info {
  color: black;
  margin: auto;
  padding-right: 60px;
}
.footer-contact-info td {
  padding-left: 0;
}
.footer-nav-container {
  flex-basis: 30%;
}
.footer-title {
  text-transform: capitalize;
  color: white;
}
.footer-nav-list {
  list-style-type: none;
  color: white;
}
.footer-nav-item {
  margin-bottom: 20px;
  font-size: 18px;
}
.latest-post-container {
  flex-basis: 35%;
}

.latest-post-img-container {
  width: 150px;
}
.latest-post-img {
  width: 100%;
}
.latest-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.latest-post-content {
  flex-basis: calc(100% - 170px);
}
.latest-post-title {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.latest-post-desc {
  color: white;
}

.social-nav-container {
  padding: 30px;
  display: flex;
}
.social-nav-list {
  margin: auto;
  display: flex;
  align-items: center;
}
.social-nav-item {
  list-style-type: none;
  font-size: 30px;
  color: white;
  margin-left: 30px;
}
.copyright {
  text-align: center;
  color: white;
  background: #111;
  padding: 10px;
  font-size: small;
  font-family: "Ubuntu",sans-serif;
}
