@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
  background-color: #555;
}
#defaultCanvas0{
  border-radius: 20px;
  height: 354px !important;
  width: 354px !important;
}
h1{
  text-align: center;
}
.center {
  object-fit: cover;
  background-color: #fff;
  border: ridge;
  border-color: #1f1f1f;
  margin-right: 200px;
  border-width: thick;
  border-radius: 25px;
  width: 364px !important;
  height: 364px;
}
.center1 {
  margin-left: 200px;
  border: ridge;
  border-width: thick;
  border-radius: 25px;
  border-color: #febc1d;
  background-color: #fff;
    margin: auto;
    width: 364px !important;
    height: 364px;
}
.box1{
  width: 450px;
  height: 450px;
}
.c1{
  margin-top: 25px;
  width: 100%;
  -webkit-box-pack: center;
  display: -webkit-box;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#positive,#negativeLow, #negativeHigh {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #positive.show, #negativeLow.show, #negativeHigh.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }





  body {
    background-color: #333;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  .link {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
  }
  .main-header {
    background: #333 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    position: relative;
    background-attachment: fixed;
  }
  
  .main-nav{
    /* background-color: crimson; */
    /* position: fixed; */
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
  }
  .main-nav .logo-link {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  .main-nav .logo-link span{
    color: crimson;
  }
  .main-nav .nav-list li a{
    color: #fff;
  }
  .main-nav.sticky{
    padding: 30px 0;
    color: crimson;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-family: 'Ubuntu',sans-serif;
  }
  .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
   .header-nav .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  .logo {
    font-weight: bolder;
    color: #febc1d;
    font-size: 35px;
  }
  .nav-link {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #ccc;
  }
  .nav-item {
    margin-left: 50px;
  }
  .main-heading {
    font-weight: normal;
    color: #fff;
    font-size: 40px;
  }
  .main-heading-focus {
    color: #febc1d;
    font-weight: bold;
  }
  .sub-heading {
    text-align: right;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
  }
  .hero-cta {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    background: #febc1d;
    display: inline-block;
    margin-top: 30px;
  }
  .main-container {
    margin-top: 30px;
  }
  .main-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .card-content {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
  .card-img-container {
    width: 400px;
    height: 400px;
    background: #888;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .card-img {
    height: 90%;
    transition: 0.5s ease-out;
  }
  .card-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  .card-span {
    font-weight: normal;
    display: block;
  }
  .card-info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 0.5s ease-out;
  }
  .card-info-list {
    margin: auto;
  }
  .card-info-item {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 35px;
    margin-right: 35px;
  }
  .card-img-container:hover > .card-info {
    top: 0;
  }
  .card-img-container:hover > .card-img {
    transform: scale(1.5);
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .banner-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px -1px 15px 3px rgba(0, 0, 0, 0.75);
  }
  .banner-content-container {
    text-align: right;
  }
  .banner-content {
    padding: 0 50px;
  }
  .banner-img {
    height: 100%;
  }
  .banner-title {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: left;
  }
  .banner-desc {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
  }
  .banner-cta {
    display: inline-block;
    background: #333;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
  }
  .banner-cta:hover {
    background: #575656;
  }
  .contact-container {
    height: 540px;
    background: url(assets/images/main-banner.jpg);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact-info-container,
  .contact-form-container {
    flex-basis: 40%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .contact-form,
  .contact-info {
    margin: auto;
  }
  .contact-info {
    color: white;
  }
  td {
    vertical-align: top;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-input-container {
    width: 90%;
    text-align: center;
  }
  .input,
  .msg-input {
    width: 60%;
    margin-bottom: 10px;
    background: rgba(96, 97, 95, 0.35);
  }
  .input {
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
  }
  .input:focus,
  textarea:focus {
    outline: none;
    background: rgba(96, 97, 95, 0.6);
  }
  textarea {
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
  }
  input[type="email"],
  input[type="text"] {
    padding-left: 10px;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background: rgba(96, 97, 95, 0.6);
  }
  .testimonial-container {
    height: 300px;
    background: #1e1e1e;
    margin-top: 30px;
    display: flex;
  }
  .testimonials {
    margin: auto;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  #user-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  #user-2 {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  #user-3 {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  #user-4 {
    position: absolute;
    top: 50%;
    left: 200%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .user-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-img-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  .user-img {
    height: 100%;
  }
  .user-info {
    width: calc(100% - 150px);
    color: white;
    padding: 20px;
  }
  .user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .btn {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
  }
  .slide-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }
  .bg {
    background: white;
  }
  .no-bg {
    background: transparent;
  }
  .footer {
    height: 230px;
    background: #333;
    /* margin-top: 30px; */
  }
  .news-letter {
    text-align: center;
    padding: 20px;
  }
  .news-letter-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #news-letter-email {
    width: 350px;
    height: 40px;
    border: none;
    font-size: 16px;
    color: white;
    background: rgba(96, 97, 95, 0.5);
  }
  #news-letter-email:focus {
    outline: none;
    background: rgba(96, 97, 95, 0.8);
  }
  #news-letter-submit {
    width: 150px;
    height: 40px;
    border: none;
    background: rgba(96, 97, 95, 0.5);
    font-size: 16px;
    color: #ccc;
  }
  .footer-border {
    height: 3px;
    background: white;
    width: 80%;
    margin: 0 auto;
  }
  .footer-content-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 6px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  .footer-content {
    flex-basis: 100%;
  }
  .footer-logo,
  .footer-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #febc1d;
    display: inline-block;
    margin-bottom: 10px;
  }
  .company-desc {
    color: white;
  }
  .footer-contact-info {
    color: white;
  }
  .footer-contact-info td {
    padding-left: 0;
  }
  .footer-nav-container {
    flex-basis: 30%;
  }
  .footer-title {
    text-transform: capitalize;
    color: white;
  }
  .footer-nav-list {
    list-style-type: none;
    color: white;
  }
  .footer-nav-item {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .latest-post-container {
    flex-basis: 35%;
  }
  
  .latest-post-img-container {
    width: 150px;
  }
  .latest-post-img {
    width: 100%;
  }
  .latest-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .latest-post-content {
    flex-basis: calc(100% - 170px);
  }
  .latest-post-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .latest-post-desc {
    color: white;
  }
  
  .social-nav-container {
    padding: 30px;
    display: flex;
  }
  .social-nav-list {
    margin: auto;
    display: flex;
    align-items: center;
  }
  .social-nav-item {
    list-style-type: none;
    font-size: 30px;
    color: white;
    margin-left: 30px;
  }
  .copyright {
    text-align: center;
    color: white;
    background: #2a2a2a;
    padding: 10px;
  }
  